body {
    margin: 0;
    font-family: "Lato", sans-serif;
    padding: 30px;
    // background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

p {
   font-family: "Gill Sans", sans-serif;
}

