.search-container{
  width: 100%;
  display: block;
  margin: 0 auto;
  
}

input.search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  border-radius: 25px;
  
  &:focus{
    // border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    box-shadow:0 50px 20px rgba(0,0,0, .1);
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

  // @media screen and (min-width: $breakpoint-smartphone-min-width ){
  //         .search-container  {
  //         width: 50%;
  //         }
  //         .search-icon:{
  //           width: 50%;
  //         }
  //   }

//     @media screen and (min-width: $breakpoint-tablet-min-width){
//             .search-container {
//           width: 25%;
//           }
//           .search-icon:{
//             width: 25%;
//           }
    
//     }
//   @media (device-width: 100vw) and (device-height: 100vh) {
//   .content {
//     padding: 0px !important;
//   }
// }