.App {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter {
  background: rgb(153,151,154);
background: linear-gradient(180deg, rgba(153,151,154,1) 0%, rgba(252,191,75,1) 100%, rgba(242,239,235,1) 100%);
}

