.filmdetails {
        
     padding: 10px;
      background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.filmdetailsbox {
    display: flex;
   
    background: white;
    border: solid 2px black ;
    
}
.filmtitle {
    font-size: 1.6em;
    font-weight: bold;
    padding: 20px;
}

.director {
    padding-left: 20px;
    font-size: 1.2em;
    font-style: italic;
}

.synopsis {
    padding-left: 20px;
    padding-right: 20px;
   
}
.section {
    
}



