.movieList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.movieListitem {
    width: 100%;
   justify-content: space-around;
}

.movieListitem a {
    display: flex;
    align-items: center;
    color: black;
    border: dashed 1px black;
    margin: 2px;
    
}

.movieListitem a:visited {
    color: black;
}

.movieListitem a:hover {
    color: red;
}


.movieListitem img {
    margin: 20px;
    width: 100px;
    height: 100px;
    justify-content: center;
}

@media screen and (min-width: 480px){
    .movieListitem {
       width: 50%;
    }
    
}

@media screen and (min-width: 900px){
    .movieListitem {
       width: 25%;
    }
    
}