.movieList {
   background: rgb(153,151,154);
background: -webkit-linear-gradient(rgba(153,151,154,1) 0%, rgba(252,191,75,1) 100%, rgba(242,239,235,1) 100%);
background: -moz-linear-gradient(rgba(153,151,154,1) 0%, rgba(252,191,75,1) 100%, rgba(242,239,235,1) 100%);
background: -o-linear-gradient(rgba(153,151,154,1) 0%, rgba(252,191,75,1) 100%, rgba(242,239,235,1) 100%);
background: linear-gradient(rgba(153,151,154,1) 0%, rgba(252,191,75,1) 100%, rgba(242,239,235,1) 100%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.movieListitem {
    width: 100%;
   justify-content: space-around;
}

.movieListitem a {
    background: white;
    padding: 5px;
    display: flex;
    align-items: center;
    color: black;
    border: solid 1px black;
    margin: 2px;
    
}

.movieListitem a:visited {
    color: black;
}

.movieListitem a:hover {
    color: red;
}


.movieListitem img {
    margin: 20px;
    width: 100px;
    height: 100px;
    justify-content: center;
}

@media screen and (min-width: 480px){
    .movieListitem {
       width: 50%;
    }
    
}

@media screen and (min-width: 900px){
    .movieListitem {
       width: 25%;
    }
    
}